{{>navigation}}
{{>flash}}
<link rel="stylesheet" href="../../public/css/styles.css">
<div class="container dark-grey-text mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4">
                    <img class="img-format img-fluid" src="{{links.url_image}}" alt="{{name}}">
                </div>
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <a href="">
                                <span class="badge purple mr-1">{{links.category}}</span>
                            </a>
                        </div>
                        <p class="lead">
                            <span>L {{links.price}} </span>
                        </p>
                        <p class="lead font-weight-bold">{{links.name}}</p>
                        <p>Categoria: {{links.category}}</p>
                        <p class="font-weight-bold">Descripción</p>
                        <p>{{links.description}}</p>
                        {{#if user}}

                        <form action="/cart/{{links.idProduct}}" method="post" class="d-flex justify-content-left">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Cantidad:</span>
                            </div>
                            <input name="qty" id="qty" type="number" step="1" max="99" min="1" class="" size="4"
                                required>

                            <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                                <i class="fas fa-shopping-cart ml-1"></i>
                            </button>
                        </form>
                        {{else}}
                        <form class="d-flex justify-content-left" action="/checkout/{{links.idProduct}}" method="POST">
                            <button class="btn btn-primary btn-md my-0 p" type="submit" onclick="#pay">Add to cart
                                <i class="fas fa-shopping-cart ml-1"></i>
                            </button>
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="pay"
                                data-key="pk_test_51H5lSsKfonblX5qI0sCP1COhpM4VSGbXq4QNpSmFJLJe8GktNh8U7N8CXI8X7QPIEuIr7T5TEMZiZozEnX0l1qPt00Qt1M1sv2"
                                data-amount={{links.price}} data-name={{links.name}} data-image="/img/logo2.png"
                                data-locale="auto" >
                                </script>
                        </form>

                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
            <h4 class="my-4 h4">Seguro que te gusta</h4>
        </div>
    </div>
    <div class="row wow fadeIn">
        <div class="col-lg-4 col-md-12 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid"
                alt="">
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                alt="">
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
                alt="">
        </div>
    </div>
</div>
{{>footer}}