<link rel="stylesheet" href="../../public/css/styles.css">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 bg-dark my-4">
                    <h2 class="title-SobreProducto text-uppercase font-weight my-1 ">Descripción del Producto</h2>
                </div>
                <div class="col-sm-5">
                    <div class="div-pading">
                        <img class="img-format img-fluid" src="{{links.url_image}}" alt="{{name}}">
                    </div> 
                </div>
            </div>
                <div class="col-sm-7 div-color">
                    <h2>{{links.name}}</h2>
                    <p>
                        <strong>Descripción:</strong>
                    <p>{{links.description}}</p>
                    </p>
                    <p><strong>Precio:</strong> L {{links.price}}</p>
                    {{!-- agregar boton --}}
                    <form action="/checkout" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51H5lSsKfonblX5qI0sCP1COhpM4VSGbXq4QNpSmFJLJe8GktNh8U7N8CXI8X7QPIEuIr7T5TEMZiZozEnX0l1qPt00Qt1M1sv2"
                        data-amount={{links.price}}
                        data-name={{links.name}}
                        data-image="/img/logo2.png"
                        data-locale="auto"
                    ></script>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

    
