{{>navigation}}
{{>slider}}
<div class="container">
    <div class="">
        <div class="">
            <h1 class="mt-4">Productos</h1>

            {{#if products}}
            <hr>
            <div class="row no-gutters justify-content-center">
                <div class="card-columns mt-2">
                    {{#each products}}
                    <div class="card contanedorm" style="margin-left: 1%; margin-right: 1%; border-color: #28A745;">
                        <img class="card-img-top" src="{{url_image}}" alt="{{name}}">
                        <div class="card-body div-design">
                            <hr>
                            <a href="/description/{{idProduct}}">{{name}}</a>
                            <h4>L {{price}}</h4>
                            <a href="/description/{{idProduct}}" type="submit" style="background-color: #007717; color: #ffff; width: 100%" class="btn center-block btn-dis"><i
                                    class="fas fa-shopping-cart"></i> Comprar</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}




        </div>
    </div>
</div>


{{>footer}}