<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-4">Categoría</h1>
            {{#if products}}
            <h2 class="mt-4">Mouse</h2>
            {{#each products}}
            <hr>
            <div class="row no-gutters justify-content-center">
                <div class="row">
                    <div class="col-sm contanedorm">
                        <img class="img-thumbnail" src="{{url_image}}" alt="{{name}}">
                        <hr>
                        <div class="div-design">
                            <a href="/description/{{idProduct}}">{{name}}</a>
                            <p>L {{price}}</p>
                        </div>
                    </div>

                </div>
            </div>
            {{/each}}
            {{/if}}




        </div>

        <h2 class="mt-4">Teclados</h2>
        <div class="row no-gutters justify-content-center">
            <div class="row">
                <div class="col-sm contanedorm">
                    <img class="img-format img-fluid" src="/img/TECH.jpg" alt="Imagen del Producto">
                    <hr>
                    <div class="div-design">
                        <a href="">Teclado Gaming XXTTR</a>
                        <p>$ 900.00</p>
                    </div>
                </div>
                <div class="col-sm contanedorm">
                    <img class="img-format img-fluid" src="/img/SGK4.JPG" alt="Imagen del Producto">
                    <hr>
                    <div class="div-design">
                        <a href="">TECLADO GAMING SGK4</a>
                        <p>$ 950.00</p>
                    </div>
                </div>
                <div class="col-sm contanedorm">
                    <img class="img-format img-fluid" src="/img/teclado-redragon-k506-centaur-2.jpg"
                        alt="Imagen del Producto">
                    <hr>
                    <div class="div-design">
                        <a href="">TECLADO REDRAGON K506</a>
                        <p>$ 1000.00</p>
                    </div>
                </div>
                <div class="col-sm contanedorm">
                    <img class="img-format img-fluid" src="/img/amiger-1200x1200.jpg" alt="Imagen del Producto">
                    <hr>
                    <div class="div-design">
                        <a href="">XTECH amiger</a>
                        <p>$ 1500.00</p>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="mt-4">Speakers</h2>
        <div class="row no-gutters justify-content-center">
            <div class="row">
                <div class="col-sm contanedorm">
                    <img class="img-format img-fluid" src="/img/microlab-tmn9bt-2-1-bluetooth-speaker-01-1200x1200.jpg"
                        alt="Imagen del Producto">
                    <hr>
                    <div class="div-design">
                        <a href="">Microlab TMN-9BT</a>
                        <p>$ 3500.00</p>
                    </div>
                </div>
                <div class="col-sm contanedorm">
                    <img class="img-format img-fluid" src="/img/microlab-b77bt.jpg" alt="Imagen del Producto">
                    <hr>
                    <div class="div-design">
                        <a href="">Microlab B77BT</a>
                        <p>$ 1950.00</p>
                    </div>
                </div>
                <div class="col-sm contanedorm">
                    <img class="img-format img-fluid" src="/img/SBSA350-1200x1200.jpg" alt="Imagen del Producto">
                    <hr>
                    <div class="div-design">
                        <a href="">Creative A350 2.1 Speaker System</a>
                        <p>$ 3800.00</p>
                    </div>
                </div>
                <div class="col-sm contanedorm">
                    <img class="img-format img-fluid" src="/img/Nommo_Chroma_3-1200x1200.jpg" alt="Imagen del Producto">
                    <hr>
                    <div class="div-design">
                        <a href="">RAZER Nommo Chroma 2.0 </a>
                        <p>$ 5000.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>