<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/links/edit/{{link.idProduct}}" method="POST">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Nombre del ProdUctO" value="{{link.name}}" autofocus>
                </div>
                <div class="form-group">
                            <input type="text" name="category" class="form-control" placeholder="Categoria" value="{{link.category}}" autofocus>
                        </div>
                <div class="form-group">
                    <input type="number" name="price" class="form-control" placeholder="Lps. 0.00" value="{{link.price}}">
                </div>
                <div class="form-group">
                    <textarea name="description" rows="2" class="form-control" placeholder="Description">{{link.description}}</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>