<div class="col-md-4 mx-auto">

    <div class="card mb-2">
        <div class="card-body">
            <form action="/links/edit/{{link.idProduct}}" method="POST">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Nombre del ProdUctO"
                        value="{{link.name}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="idCategory" class="form-control" placeholder="Categoria"
                        value="{{link.idCategory}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="number" name="price" class="form-control" placeholder="Lps. 0.00"
                        value="{{link.price}}">
                </div>
                <div class="form-group">
                    <textarea name="description" rows="2" class="form-control"
                        placeholder="Description">{{link.description}}</textarea>
                </div>
                <div class="form-group">
                    <input type="url" name="url_image" class="form-control" placeholder="URL de la Imagen">
                    <br>
                    <div class="m-1 custom-control custom-switch">
                        <input name="toggle" type="checkbox" class="custom-control-input" id="customSwitch_t">
                        <label class="custom-control-label" for="customSwitch_t" id="label_t">URL</label>
                    </div>
                    {{!-- <input id="toggle-event" type="checkbox" data-toggle="toggle" data-on="URL" data-off="Subir"
                        data-onstyle="info" data-offstyle="success"> --}}
                    <div class="form-group border-bottom-0">
                        <div class="custom-file">
                            <input name="imagen" type="file" class="custom-file-input" id="customFileLangHTML">
                            <label class="custom-file-label" for="customFileLangHTML" data-browse="Elegir">Seleccionar
                                archivo</label>
                            <div id="console-event"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success btn-block" id="boton">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>